<br />
<br />
<h1>Admin Control Panel</h1>
<div>
<h3>Brand</h3>
<%= link_to 'Create a New Brand', new_brand_path %><br />
<%= link_to 'List brands', brands_path %><br />
</div>
<div>
<h3>Category</h3>
<%= link_to 'New Category', new_part_category_path  %><br />
<%= link_to 'List categories', part_categories_path %><br />
</div>
<div>
<h3>Featured the merchants</h3>
<%= link_to 'Featured the merchants', feature_a_merchant_admins_path %><br />
</div>
<div>
<h3>Add a Region</h3>
<%= link_to 'Add a region', new_region_path %><br />
<%= link_to 'Remove a region', regions_path %><br />
</div>
<div>
<h3>Add a Showroom</h3>
<%= link_to 'Add a Showroom', new_showroom_path %><br />
<%= link_to 'Remove a Showroom', showrooms_path %><br />
</div>
<div>
<h3>Add a Make and Models</h3>
<%= link_to 'Add a Make', new_make_path %><br />
<%= link_to 'Remove a Make', makes_path %><br />
</div>

